<!-- toolbar -->
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">Add</mat-toolbar>

<form [formGroup]="addForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column" fxLayoutAlign="center" style="margin: 2em;">
  <!-- brand -->
  <mat-form-field>
    <input id="brand" matInput placeholder="brand name" formControlName="brand" required>
  </mat-form-field>
  <div *ngIf="brand.invalid && (brand.dirty || brand.touched)" class="alert">
    <div *ngIf="brand.errors.required">
      Brand is required.
    </div>
  </div>
  
  <!-- name -->
  <mat-form-field>
    <input id="name" matInput placeholder="name of product" formControlName="name" required>
  </mat-form-field>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
    <div *ngIf="name.errors.required">
      Name is required.
    </div>
  </div>

  <!-- upc12 -->
  <mat-form-field>
    <input id="upc12" matInput placeholder="upc12 key" formControlName="upc12" required>
  </mat-form-field>
  <div *ngIf="upc12.invalid && (upc12.dirty || upc12.touched)" class="alert">
    <div *ngIf="upc12.errors.required">
      UPC12 is required.
    </div>
    <div *ngIf="upc12.errors.pattern">
      Only numbers are allowed.
    </div>
  </div>
  
  <!-- submit & cancel -->
  <div fxLayout="row">
    <button mat-raised-button color="primary" type="submit" [disabled]="addForm.pristine || addForm.status == 'INVALID'">Add</button>
    <button mat-button (click)="goBack()" style="margin-left: 1em;">Cancel</button>
  </div>
  </form>