<!-- toolbar -->
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">Search for Groceries!
  <button mat-raised-button color="accent" (click)="goAddPage()"> + Add Item</button>
</mat-toolbar>

<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate fxLayout="column" fxLayoutAlign="center start" style="margin: 2em;">
<!-- type -->
<mat-form-field>
  <mat-select id="type" placeholder="select a type" formControlName="type" required>
    <mat-option *ngFor="let type of types" [value]="type">
        {{type}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert">
  <div *ngIf="type.errors.required">
    Type is required.
  </div>
</div>

<!-- term -->
<mat-form-field>
  <input id="term" matInput placeholder="search term" formControlName="term" required>
</mat-form-field>
<div *ngIf="term.invalid && (term.dirty || term.touched)" class="alert">
  <div *ngIf="term.errors.required">
    Term is required.
  </div>
</div>

<!-- submit & reset -->
<div fxLayout="row">
  <button mat-raised-button color="primary" type="submit" [disabled]="searchForm.pristine || searchForm.status == 'INVALID'">Search</button>
  <button mat-raised-button color="primary" type="reset" (click)="reset()" [disabled]="searchForm.pristine" style="margin-left: 1em;">Reset</button>
</div>
</form>

<table mat-table [dataSource]="groceries" class="mat-elevation-z8" style="margin-left:1em;" matSort>
  <!-- upc12 column -->
  <ng-container matColumnDef="upc12">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> UPC12 Barcode </th>
    <td mat-cell *matCellDef="let grocery" ><img src="http://www.barcodes4.me/barcode/c128a/{{grocery.upc12}}.png?IsTextDrawn=1" alt="barcode"></td>
  </ng-container>

  <!-- brand column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
    <td mat-cell *matCellDef="let grocery"> {{grocery.brand}} </td>
  </ng-container>

  <!-- name column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let grocery"> {{grocery.name}} </td>
  </ng-container>

   <!-- edit column -->
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let grocery" (click)="goEditPage(grocery.upc12, grocery.brand, grocery.name, grocery.id)"><button mat-raised-button color="primary">Edit</button></td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
    <td mat-cell *matCellDef="let grocery" (click)="deleteGrocery(grocery.id)"><button mat-raised-button color="warn">Delete</button></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" 
              (page)="pageEvent = $event">
</mat-paginator>
